@media (max-width: 450px)
{
  .about-section {
    padding: 25px 55px;
    text-align: center;
  
    background-image: url('../../public/aboutBackground.jpg'); 
    background-position: left;
    background-repeat: no-repeat;
    background-size: 120%;
    color: white;
  }
  
  .about-section h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .about-section p {
    font-size: 14px;
    max-width: 375px;
    margin-bottom: 0px;
  }
}  
@media screen and (min-width: 451px) and (max-width: 719px)
{
  .about-section {
    padding: 25px 55px;
    text-align: center;
    
    background-image: url('../../public/aboutBackground.jpg'); 
    background-size: 120%;
    color: white;
  }
  
  .about-section h2 {
    margin-bottom: 20px;
    font-size: 22px;
  }
  
  .about-section p {
    font-size: 14px;
    max-width: 375px;
  }
}  
@media (min-width: 720px)
{
  .about-section {
    padding: 100px 0;
    text-align: center;
    background-image: url('../../public/aboutBackground.jpg'); 
  background-size: cover;
  color: white;
}
  
  .about-section h2 {
    margin-bottom: 20px;
    font-size: 28px;
  }
  
  .about-section p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
  }
}  