@media (max-width: 719px) {
  
  .about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 55px;
  text-align: center;
  background-image: url('../../public/aboutBackground.jpg'); 
  background-size: 125%;
  background-repeat: no-repeat;
  height: auto;
  color: white;
}

.about h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.about p {
  font-size: 14px;
  max-width: 800px;
  margin: 0 auto;
}
}

@media (min-width: 720px) {
  
  .about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
  text-align: center;
  background-image: url('../../public/aboutBackground.jpg'); 
  background-size: cover;
  height: auto;
  color: white;
}

.about h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.about p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
}
}
