.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
  text-align: center;
  background-image: url('../../public/aboutBackground.jpg'); 
  background-size: cover;
  height: auto;
  color: white;
}

.about-section h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.about-section p {
  font-size: 18px;
  max-width: 1000px;
  margin: 0 auto;
}
